_bookdown_files/
Archive/

.Rhistory
*.log

comments.txt
questions.txt
Dissertation/baselines.*
Dissertation/gradientOrangeGreen_SVG.*
Dissertation/Alexander-van-der-Voorn_dissertation.*
*.tex
Examples/

Appendices/algorithms_examples.R
Figures/profile-Thomas_files/
Profiling/

gitignore